<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ArgusV1">

		<listeners>
		<listener class-name="com.Argus.utilities.Reporting" />
    	</listeners>

	<test name="ArgusApp Test">
		<parameter name="browser" value="Firefox" />
		<classes>
			  <class name="com.Argus.testcases.TC_Logintest_001" /> 
			  <class name="com.Argus.testcases.TC_LoginDDT_002" /> 
			  <!--  <class name="com.Argus.testcases.TC_AddCustomerTest_003" /> -->

		</classes>

	</test>

</suite>